.resultCnt {
  background: -webkit-gradient(linear,left bottom,left top,color-stop(10%,#981b3b),to(#fff));
  background: -webkit-linear-gradient(bottom,#981b3b 10%,#fff);
  background: -o-linear-gradient(bottom,#981b3b 10%,#fff);
  background: linear-gradient(0deg,#006D60 45%,#fff);
  color: #fff;
  padding: 4% 0;
}

.riquadroSmart {
  background: url('/assets/images/riquadro-smart.png') no-repeat;
  background-size: contain;
  background-position: top;
  width: 100%;
  height: 328px;
}

.packImg {
  width: 140px;
  flex-shrink: 1;
  margin-top: 53px;
}

.bustinaImg {
  width: 70px;
  margin-left: -27px;
  margin-top: 80px;
}
