<div class="container-fluid py-4 disable-text-selection">
  <div class="row">
    <div class="col-12 mx-auto text-center">
      <img src="../../assets/images/logo.png" style="width: 205px; cursor:pointer;" alt="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/">
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-primary py-3 font-roboto disable-text-selection border border-dark border-right-0 border-left-0">
  <a class="navbar-brand" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/" >GeopharmaLab</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" style="margin-right: 130px;">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active px-1">
        <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" routerLinkActive="active" routerLink="/supplements-test">Test</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" routerLinkActive="active" routerLink="/privacy">Informativa</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" routerLinkActive="active" routerLink="/cookies">Cookie</a>
      </li>
    </ul>
  </div>
</nav>
