<div class="text-center">
  <h1 class="display-4 font-weight-bold color-dark">BENVENUTO NEL FUTURO DELL’INTEGRAZIONE</h1>
  <br>
<!--  <h2 class="color-dark">IL TUO INTEGRATORE PERSONALIZZATO</h2>-->
    <img src="../../../assets/images/pack_bustine.png" alt="pack bustine" style="width: 220px;">
  <br>
  <h3 style="width:90%;" class="mx-auto color-dark">Rispondi a poche e semplici domande e la nostra intelligenza artificiale ti aiuterà a scoprire come raggiungere il tuo benessere</h3>
  <br>
  <button class="btn btn-lg btn-primary font-weight-bold" routerLink="./test">INIZIA IL TEST</button>
</div>
