input.ng-invalid.ng-dirty, select.ng-invalid.ng-dirty {
  border: 1px solid red;
}

input.ng-valid.ng-dirty, select.ng-valid.ng-dirty {
  border: 1px solid green;
}

label {
  font-weight: 600;
}

.custom-control-label::after, .custom-control-label::before {
  display: none;
}

.squareRadio {
  cursor: pointer;
  background-color: #6f99a4;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s,-webkit-transform .2s;
  padding: 16px;
  font-family: Oswald,sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: .75rem;
  width: 45%;
  margin: 1% auto;
}

.check-icon {
  position: absolute;
  top: 0;
  left: 0;
  color: #006D60;
}

.squareRadio input, .squareRadio label {
  cursor: pointer;
  text-align: center;
}

.squareRadio input {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bodyIcon {
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 40px;
  height: 40px;
  margin: auto;
  display: block;
}

.firstChoice-icon {
  background-image:url('/assets/images/badge1.png');
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.secondChoice-icon {
  background-image:url('/assets/images/badge2.png');
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
