<aw-wizard [navBarLayout]="'small'" [disableNavigationBar]="true">

  <div class="progress mb-5" style="background-color: #b3cfcf;">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
         [ngStyle]="{'width.%': progressBarValue}"
         attr.aria-valuenow="{{progressBarValue}}"
         attr.aria-valuemin="0"
         aria-valuemax="100">{{progressBarValue}}%
    </div>
  </div>

  <form [formGroup]="wizardForm" (ngSubmit)="onSubmit()">
    <!--First Question-->
    <aw-wizard-step stepTitle="Personal Info" [navigationSymbol]="{ symbol: '1' }">
      <div formGroupName="personalInfo">
        <h3 class="py-2">Iniziamo dalle tue informazioni personali</h3>

        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control">
        </div>

        <div class="form-group">
          <label for="eta">Età</label>
          <select class="form-control" id="eta" formControlName="eta">
            <option>18-25</option>
            <option>26-35</option>
            <option>36-45</option>
            <option>46 in sù</option>
          </select>
        </div>

        <div class="form-group">
          <label for="sesso">Sesso</label>
          <select class="form-control" id="sesso" formControlName="sesso">
            <option>Uomo</option>
            <option>Donna</option>
          </select>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
          <small id="emailHelp" class="form-text text-muted">Non condivideremo mai l'email con nessuno.</small>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="privacy" formControlName="privacy">
          <label class="form-check-label" for="privacy">
            Acconsento al trattamento dei miei dati per l'erogazione minima del servizio senza il quale non potrebbe
            essere erogato (
            <a routerLink="/privacy">Informativa</a>
            )
          </label>
        </div>
      </div>
      <div class="pt-4 d-flex flex-row-reverse">
        <button
          type="button" class="btn btn-primary px-5"
          [disabled]="!wizardForm.get('personalInfo').valid"
          (postFinalize)="updateProgressBarValue()"
          awNextStep
        >Avanti
        </button>
      </div>
    </aw-wizard-step>

    <!--Second Question-->
    <aw-wizard-step stepTitle="Categoria Sport" [navigationSymbol]="{ symbol: '2' }">

      <h3 class="py-2">In quale categoria di sportivo ti rivedi di più</h3>

      <div class="form-check py-4">
        <input class="form-check-input" type="radio" name="sportCategory" id="noSport" value="noSport"
               formControlName="sportCategory">
        <label class="form-check-label" for="noSport">
          Non Pratico Sport
        </label>
      </div>
      <div class="form-check py-4">
        <input class="form-check-input" type="radio" name="sportCategory" id="amaSport" value="amaSport"
               formControlName="sportCategory">
        <label class="form-check-label" for="amaSport">
          Sportivo Amatoriale (Non partecipo a competizioni sportive e mi alleno quando mi va)
        </label>
      </div>
      <div class="form-check py-4">
        <input class="form-check-input" type="radio" name="sportCategory" id="agoSport" value="agoSport"
               formControlName="sportCategory">
        <label class="form-check-label" for="agoSport">
          Sportivo Agonista (Mi alleno preparandomi per competizioni sportive ma non è il mio primo lavoro)
        </label>
      </div>
      <div class="form-check py-4">
        <input class="form-check-input" type="radio" name="sportCategory" id="proSport" value="proSport"
               formControlName="sportCategory">
        <label class="form-check-label" for="proSport">
          Sportivo professionista (Pratico sport per lavoro)
        </label>
      </div>

      <div class="pt-4 d-flex flex-row justify-content-between">
        <button
          type="button" class="btn btn-primary px-5"
          (postFinalize)="updateProgressBarValue()"
          awPreviousStep
        >Indietro
        </button>
        <button
          type="button" class="btn btn-primary px-5"
          [disabled]="!wizardForm.get('sportCategory').valid"
          (finalize)="finalizeOptionalStep()"
          (postFinalize)="updateProgressBarValue()"
          awNextStep
        >Avanti
        </button>
      </div>
    </aw-wizard-step>

    <!--Second Question: Optional-->
    <aw-wizard-step stepTitle="regolarità Pratica" [stepId]="'2.1'" [navigationSymbol]="{ symbol: '2.1' }">

      <h3 class="py-2">Con quale regolarità ti alleni?</h3>

      <div class="form-check py-4">
        <input class="form-check-input" type="radio" name="trainingRegularity" id="allenamentoRegolare"
               value="allenamentoRegolare"
               formControlName="trainingRegularity">
        <label class="form-check-label" for="allenamentoRegolare">
          Mi alleno con regolarità
        </label>
      </div>
      <div class="form-check py-4">
        <input class="form-check-input" type="radio" name="trainingRegularity" id="allenamentoNonRegolare"
               value="allenamentoNonRegolare"
               formControlName="trainingRegularity">
        <label class="form-check-label" for="allenamentoNonRegolare">
          Mi alleno quando mi va
        </label>
      </div>

      <div class="pt-4 d-flex flex-row justify-content-between">
        <button
          type="button" class="btn btn-primary px-5"
          (postFinalize)="updateProgressBarValue()"
          awPreviousStep
        >Indietro
        </button>
        <button
          type="button" class="btn btn-primary px-5"
          [disabled]="!wizardForm.get('trainingRegularity').valid"
          (postFinalize)="updateProgressBarValue()"
          awNextStep
        >Avanti
        </button>
      </div>
    </aw-wizard-step>

    <!--Third Question-->
    <aw-wizard-step stepTitle="Fisionomia" [navigationSymbol]="{ symbol: '3' }">

      <h3 class="py-2">Parliamo della tua fisionomia</h3>

      <div formGroupName="fisionomy">
        <div class="form-group">

          <label for="name">Peso</label>
          <input
            type="number"
            min="40"
            max="300"
            id="weight"
            formControlName="weight"
            class="form-control">
          <small class="form-text text-muted">Fondamentale per la formula.</small>
        </div>
        <div class="form-group">
          <label for="name">Altezza</label>
          <input
            type="number"
            min="80"
            max="250"
            id="height"
            formControlName="height"
            class="form-control">
          <small class="form-text text-muted">Fondamentale per le dosi.</small>
        </div>

        <h4 class="py-3">In quale corporatura ti rivedi?</h4>

        <div class="form-group d-flex flex-wrap">
          <div class="custom-control custom-radio squareRadio" (click)="selectedRadioBtn($event)">
            <input type="radio" id="underWeight" name="bodyType" class="custom-control-input"
                   value="underWeight" formControlName="bodyType">
            <img class="bodyIcon" src="/assets/images/sottopeso.svg">
            <label (click)="$event.stopPropagation()" class="custom-control-label" for="underWeight">Sottopeso</label>
          </div>
          <div class="custom-control custom-radio squareRadio" (click)="selectedRadioBtn($event)">
            <input type="radio" id="normalWeight" name="bodyType" class="custom-control-input"
                   value="normalWeight" formControlName="bodyType">
            <img class="bodyIcon" src="/assets/images/normopeso.svg">
            <label (click)="$event.stopPropagation()" class="custom-control-label" for="normalWeight">Normopeso</label>
          </div>
          <div class="custom-control custom-radio squareRadio" (click)="selectedRadioBtn($event)">
            <input type="radio" id="overWeight" name="bodyType" class="custom-control-input"
                   value="overWeight" formControlName="bodyType">
            <img class="bodyIcon" src="/assets/images/sovrappeso.svg">
            <label (click)="$event.stopPropagation()" class="custom-control-label" for="overWeight">Sovrappeso</label>
          </div>
          <div class="custom-control custom-radio squareRadio" (click)="selectedRadioBtn($event)">
            <input type="radio" id="obese" name="bodyType" class="custom-control-input"
                   value="obese" formControlName="bodyType">
            <img class="bodyIcon" src="/assets/images/obeso.svg">
            <label (click)="$event.stopPropagation()" class="custom-control-label" for="obese">Obesità</label>
          </div>
        </div>

      </div>

      <div class="pt-4 d-flex flex-row justify-content-between">
        <button
          type="button" class="btn btn-primary px-5"
          awPreviousStep
          (finalize)="finalizeOptionalStep()"
          (postFinalize)="updateProgressBarValue()"
        >Indietro
        </button>
        <button
          type="button" class="btn btn-primary px-5"
          [disabled]="!wizardForm.get('fisionomy').valid"
          (postFinalize)="updateProgressBarValue()"
          awNextStep
        >Avanti
        </button>
      </div>
    </aw-wizard-step>

    <!--Fourth Question-->
    <aw-wizard-step stepTitle="Obiettivo Principale" [navigationSymbol]="{ symbol: '4' }">

      <h3 class="py-2">Quali sono i tuoi obiettivi?</h3>
      <p>Scegli fino ad un massimo di 2 in ordine di importanza.</p>

        <div class="form-group d-flex flex-wrap">
          <div class="custom-control custom-radio squareRadio" (click)="selectedPrimaryObjective($event)">
            <input type="checkbox" id="fatMassLoss" name="primaryObjective" class="custom-control-input"
                   value="fatMassLoss" formControlName="primaryObjective">
            <img class="bodyIcon" src="/assets/images/fatMassLoss.png">
            <label (click)="$event.stopPropagation()" class="custom-control-label" for="underWeight">Diminuzione Massa Grassa</label>
          </div>
          <div class="custom-control custom-radio squareRadio" (click)="selectedPrimaryObjective($event)">
            <input type="checkbox" id="immunitaryDefense" name="primaryObjective" class="custom-control-input"
                   value="immunitaryDefense" formControlName="primaryObjective">
            <img class="bodyIcon" src="/assets/images/immunitaryDefense.png">
            <label (click)="$event.stopPropagation()" class="custom-control-label" for="underWeight">Difese Immunitarie</label>
          </div>
          <div class="custom-control custom-radio squareRadio" (click)="selectedPrimaryObjective($event)">
            <input type="checkbox" id="energyGain" name="primaryObjective" class="custom-control-input"
                   value="energyGain" formControlName="primaryObjective">
            <img class="bodyIcon" src="/assets/images/energyGain.png">
            <label (click)="$event.stopPropagation()" class="custom-control-label" for="underWeight">Aumento Energia</label>
          </div>
          <div class="custom-control custom-radio squareRadio" (click)="selectedPrimaryObjective($event)">
            <input type="checkbox" id="bonesArticulation" name="primaryObjective" class="custom-control-input"
                   value="bonesArticulation" formControlName="primaryObjective">
            <img class="bodyIcon" src="/assets/images/bonesArticulation.png">
            <label (click)="$event.stopPropagation()" class="custom-control-label" for="obese">Articolazione e Ossa</label>
          </div>
          <div class="custom-control custom-radio squareRadio" (click)="selectedPrimaryObjective($event)">
            <input type="checkbox" id="muscleMassGain" name="primaryObjective" class="custom-control-input"
                   value="muscleMassGain" formControlName="primaryObjective">
            <img class="bodyIcon" src="/assets/images/muscleMassGain.png">
            <label (click)="$event.stopPropagation()" class="custom-control-label" for="underWeight">Aumento Massa Muscolare</label>
          </div>
          <div class="custom-control custom-radio squareRadio" (click)="selectedPrimaryObjective($event)">
            <input type="checkbox" id="resistanceGain" name="primaryObjective" class="custom-control-input"
                   value="resistanceGain" formControlName="primaryObjective">
            <img class="bodyIcon" src="/assets/images/resistanceGain.png">
            <label (click)="$event.stopPropagation()" class="custom-control-label" for="underWeight">Aumento Resistenza</label>
          </div>
          <div class="custom-control custom-radio squareRadio" (click)="selectedPrimaryObjective($event)">
            <input type="checkbox" id="powerGain" name="primaryObjective" class="custom-control-input"
                   value="powerGain" formControlName="primaryObjective">
            <img class="bodyIcon" src="/assets/images/powerGain.png">
            <label (click)="$event.stopPropagation()" class="custom-control-label" for="normalWeight">Aumento Forza</label>
          </div>
          <div class="custom-control custom-radio squareRadio" (click)="selectedPrimaryObjective($event)">
            <input type="checkbox" id="muscleRecovery" name="primaryObjective" class="custom-control-input"
                   value="muscleRecovery" formControlName="primaryObjective">
            <img class="bodyIcon" src="/assets/images/muscleRecovery.png">
            <label (click)="$event.stopPropagation()" class="custom-control-label" for="overWeight">Recupero Muscolare</label>
          </div>
        </div>

      <div class="pt-4 d-flex flex-row justify-content-between">
        <button
          type="button" class="btn btn-primary px-5"
          (postFinalize)="updateProgressBarValue()"
          awPreviousStep
        >Indietro
        </button>
        <button
          type="button" class="btn btn-primary px-5"
          [disabled]="!wizardForm.get('primaryObjective').valid"
          (finalize)="finalizePrimaryObjectiveValues()"
          (postFinalize)="updateProgressBarValue()"
          awNextStep
        >Avanti
        </button>
      </div>
    </aw-wizard-step>

    <!--Fifth Question-->
    <aw-wizard-step stepTitle="Tipologia Sport" [navigationSymbol]="{ symbol: '5' }">

      <div formGroupName="sportType">
        <h3 class="py-2">Che tipologia di sport pratichi in prevalenza?</h3>

        <div class="form-check py-3">
          <input class="form-check-input" type="radio" name="typology" id="aerobic" value="aerobic"
                 formControlName="typology">
          <label class="form-check-label" for="aerobic">
            Prevalentemente aerobico (nuoto, running, corsi fitness, ciclismo ecc.)
          </label>
        </div>
        <div class="form-check py-3">
          <input class="form-check-input" type="radio" name="typology" id="mixed" value="mixed"
                 formControlName="typology">
          <label class="form-check-label" for="mixed">
            Aerobico e Anaerobico alternato (crossfit, calcio, tennis, funzionale ecc.)
          </label>
        </div>
        <div class="form-check py-3">
          <input class="form-check-input" type="radio" name="typology" id="anaerobic" value="anaerobic"
                 formControlName="typology">
          <label class="form-check-label" for="anaerobic">
            Prevalentemente anaerobico (sala pesi e discipline affini alla pesistica)
          </label>
        </div>

        <h4 class="pt-3 pb-2">Quante volte alla settimana?</h4>
        <div class="form-group">
          <select class="form-control" id="frequency" formControlName="frequency">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

      </div>

      <div class="pt-4 d-flex flex-row justify-content-between">
        <button
          type="button" class="btn btn-primary px-5"
          (postFinalize)="updateProgressBarValue()"
          awPreviousStep
        >Indietro
        </button>
        <button
          type="button" class="btn btn-primary px-5"
          [disabled]="!wizardForm.get('sportType').valid"
          (postFinalize)="updateProgressBarValue()"
          awNextStep
        >Avanti
        </button>
      </div>
    </aw-wizard-step>

    <!--Sixth Question-->
    <aw-wizard-step stepTitle="Ripartizione Attività Fisica" [navigationSymbol]="{ symbol: '6' }">

      <div formGroupName="practiceTimeDistribution">
        <h3 class="py-2">Come ripartisci la tua attività fisica settimanale?</h3>

        <div class="form-group py-1">
          <label for="workout1">Allenamento 1</label>
          <select class="form-control" id="workout1" formControlName="workout1">
            <option>Aerobico</option>
            <option>Anaerobico</option>
          </select>
        </div>

        <div class="form-group py-1">
          <label for="workout1">Allenamento 2</label>
          <select class="form-control" id="workout2" formControlName="workout2">
            <option>Aerobico</option>
            <option>Anaerobico</option>
          </select>
        </div>

        <div class="form-group py-1">
          <label for="workout1">Allenamento 3</label>
          <select class="form-control" id="workout3" formControlName="workout3">
            <option>Aerobico</option>
            <option>Anaerobico</option>
          </select>
        </div>

      </div>

      <div class="pt-4 d-flex flex-row justify-content-between">
        <button
          type="button" class="btn btn-primary px-5"
          (postFinalize)="updateProgressBarValue()"
          awPreviousStep
        >Indietro
        </button>
        <button
          type="button" class="btn btn-primary px-5"
          [disabled]="!wizardForm.get('practiceTimeDistribution').valid"
          (postFinalize)="updateProgressBarValue()"
          awNextStep
        >Avanti
        </button>
      </div>
    </aw-wizard-step>

    <!--Seventh Question-->
    <aw-wizard-step stepTitle="Intensità Allenamento" [navigationSymbol]="{ symbol: '7' }">

        <h3 class="pt-2">Con quale intensità ti alleni da 1 a 5?</h3>

        <div class="form-group pt-4">
          <select class="form-control" id="workoutIntensity" formControlName="workoutIntensity">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

      <div class="pt-4 d-flex flex-row justify-content-between">
        <button
          type="button" class="btn btn-primary px-5"
          (postFinalize)="updateProgressBarValue()"
          awPreviousStep
        >Indietro
        </button>
        <button
          type="button" class="btn btn-primary px-5"
          [disabled]="!wizardForm.get('workoutIntensity').valid"
          (postFinalize)="updateProgressBarValue()"
          awNextStep
        >Avanti
        </button>
      </div>
    </aw-wizard-step>

    <!--Eight Question-->
    <aw-wizard-step stepTitle="Tempo Per Mangiare Dopo Allenamento" [navigationSymbol]="{ symbol: '8' }">

      <h3 class="py-2">Dopo quanto tempo dall’allenamento consumi un pasto (pranzo o cena)?</h3>

      <div class="form-check py-3">
        <input class="form-check-input" type="radio" name="timeToEatAfterWorkout" id="early" value="early"
               formControlName="timeToEatAfterWorkout">
        <label class="form-check-label" for="early">
          Subito dopo (nel giro di mezz’ora/1 ora)
        </label>
      </div>
      <div class="form-check py-3">
        <input class="form-check-input" type="radio" name="timeToEatAfterWorkout" id="later" value="later"
               formControlName="timeToEatAfterWorkout">
        <label class="form-check-label" for="later">
          Dopo almeno 1 ora
        </label>
      </div>

      <div class="pt-4 d-flex flex-row justify-content-between">
        <button
          type="button" class="btn btn-primary px-5"
          (postFinalize)="updateProgressBarValue()"
          awPreviousStep
        >Indietro
        </button>
        <button
          type="button" class="btn btn-primary px-5"
          [disabled]="!wizardForm.get('timeToEatAfterWorkout').valid"
          (postFinalize)="updateProgressBarValue()"
          awNextStep
        >Avanti
        </button>
      </div>
    </aw-wizard-step>

    <!--Ninth Question-->
    <aw-wizard-step (stepEnter)="configureStep()" stepTitle="Dettagli Obiettivo Principale" [navigationSymbol]="{ symbol: '9' }">

      <h3 class="py-3">{{primaryObjective}}: vorrei qualche informazione in più al riguardo</h3>

      <div class="py-2" formGroupName="primaryObjectiveDetails">

        <!--Bruciare Massa Grassa-->
        <div *ngIf="primaryObjective === 'Bruciare Massa Grassa'">
          <h5>Nel bruciare i grassi qual è il tuo obiettivo?</h5>
          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="goal" id="definition" value="definition"
                   formControlName="goal">
            <label class="form-check-label" for="definition">Definizione</label>
          </div>
          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="goal" id="weightLoss" value="weightLoss"
                   formControlName="goal">
            <label class="form-check-label" for="weightLoss">Perdita di peso</label>
          </div>

          <h5 class="pt-3">Stai seguendo già un piano alimentare?</h5>
          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="foodPlan" id="eatAll" value="eatAll"
                   formControlName="foodPlan">
            <label class="form-check-label" for="eatAll">Mangio ciò che voglio</label>
          </div>
          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="foodPlan" id="eatHealthy" value="eatHealthy"
                   formControlName="foodPlan">
            <label class="form-check-label" for="eatHealthy">Mangio sano</label>
          </div>
          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="foodPlan" id="followFoodPlan" value="followFoodPlan"
                   formControlName="foodPlan">
            <label class="form-check-label" for="followFoodPlan">Seguo alla lettera il mio piano alimentare</label>
          </div>
        </div>

        <!--Difese Immunitarie-->
        <div *ngIf="primaryObjective === 'Difese Immunitarie'">
          <h5>In media, durante l'anno, accusi spesso sintomi influenzali o debolezze fisiche?</h5>
          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="illness" id="yes" value="yes"
                   formControlName="illness">
            <label class="form-check-label" for="yes">Si</label>
          </div>
          <div class="form-check py-4">
            <input class="form-check-input" type="radio" name="illness" id="no" value="no"
                   formControlName="illness">
            <label class="form-check-label" for="no">No</label>
          </div>

          <h5>Quante porzioni di frutta e verdura mangi durante la giornata?</h5>
          <div class="form-group d-flex flex-wrap">
            <div class="custom-control custom-radio squareRadio" (click)="selectedRadioBtn($event)">
              <input type="radio" id="enough" name="portionsOfFruit" class="custom-control-input"
                     value="enough" formControlName="portionsOfFruit">
              <label (click)="$event.stopPropagation()" class="custom-control-label" for="enough">0-2</label>
            </div>
            <div class="custom-control custom-radio squareRadio" (click)="selectedRadioBtn($event)">
              <input type="radio" id="good" name="portionsOfFruit" class="custom-control-input"
                     value="good" formControlName="portionsOfFruit">
              <label (click)="$event.stopPropagation()" class="custom-control-label"
                     for="good">3-5</label>
            </div>
          </div>
        </div>

        <!--Aumento Energia-->
        <div *ngIf="primaryObjective === 'Aumento Energia'">
          <h5>Durante la settimana ti senti spossato o debole?</h5>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="weakness" id="often" value="often"
                   formControlName="weakness">
            <label class="form-check-label" for="often">Si spesso</label>
          </div>
          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="weakness" id="sometimes" value="sometimes"
                   formControlName="weakness">
            <label class="form-check-label" for="sometimes">A volte</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="weakness" id="never" value="never"
                   formControlName="weakness">
            <label class="form-check-label" for="never">Mai</label>
          </div>

          <h5 class="pt-3">E nel caso, in che momento della tua performance ti senti a corto di energie?</h5>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="timeOfWeakness" id="neverWeak" value="neverWeak"
                   formControlName="timeOfWeakness">
            <label class="form-check-label" for="neverWeak">Non applicabile</label>
          </div>
          <div class="form-check py-2">
            <input class="form-check-input" type="checkbox" name="timeOfWeakness" id="beforeWorkout" value="beforeWorkout"
                   formControlName="timeOfWeakness">
            <label class="form-check-label" for="beforeWorkout">Prima di iniziare</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="timeOfWeakness" id="duringWorkout" value="duringWorkout"
                   formControlName="timeOfWeakness">
            <label class="form-check-label" for="duringWorkout">Durante l'allenamento</label>
          </div>
          <div class="form-check py-2">
            <input class="form-check-input" type="checkbox" name="timeOfWeakness" id="postWorkout" value="postWorkout"
                   formControlName="timeOfWeakness">
            <label class="form-check-label" for="postWorkout">Dopo l'allenamento</label>
          </div>
        </div>

        <!--Articolazioni e Ossa-->
        <div *ngIf="primaryObjective === 'Articolazioni e Ossa'">
          <h5>Per quale motivo vuoi migliorare la salute delle tue articolazioni e delle ossa?</h5>
          <div class="form-check pt-3">
            <input class="form-check-input" type="radio" name="reason" id="prevention" value="prevention"
                   formControlName="reason">
            <label class="form-check-label" for="prevention">Per motivi di prevenzione</label>
          </div>
          <div class="form-check pt-4">
            <input class="form-check-input" type="radio" name="reason" id="relievePain" value="relievePain"
                   formControlName="reason">
            <label class="form-check-label" for="relievePain">Per alleviare dolori o fastidi già presenti</label>
          </div>
        </div>

        <!--Aumento Massa-->
        <div *ngIf="primaryObjective === 'Aumento Massa'">
          <h5>Segui già una alimentazione mirata al raggiungimento di questo obiettivo?</h5>
          <div class="form-check pt-3">
            <input class="form-check-input" type="radio" name="diet" id="yesDiet" value="yesDiet"
                   formControlName="diet">
            <label class="form-check-label" for="yesDiet">Si</label>
          </div>
          <div class="form-check pt-4">
            <input class="form-check-input" type="radio" name="diet" id="noDiet" value="noDiet"
                   formControlName="diet">
            <label class="form-check-label" for="noDiet">No</label>
          </div>

          <h5 class="pt-4">Solitamente vedi i risultati del tuo allenamento per aumento della massa…</h5>
          <div class="form-check pt-3">
            <input class="form-check-input" type="radio" name="results" id="easy" value="easy"
                   formControlName="results">
            <label class="form-check-label" for="easy">Con facilità</label>
          </div>
          <div class="form-check pt-4">
            <input class="form-check-input" type="radio" name="results" id="difficult" value="difficult"
                   formControlName="results">
            <label class="form-check-label" for="difficult">Con difficoltà</label>
          </div>
        </div>

        <!--Aumento Resistenza-->
        <div *ngIf="primaryObjective === 'Aumento Resistenza'">
          <h5>Segui già una alimentazione mirata al raggiungimento di questo obiettivo?</h5>
          <div class="form-check pt-3">
            <input class="form-check-input" type="radio" name="goal" id="routine" value="routine"
                   formControlName="goal">
            <label class="form-check-label" for="routine">Routine</label>
          </div>
          <div class="form-check pt-4">
            <input class="form-check-input" type="radio" name="goal" id="competition" value="competition"
                   formControlName="goal">
            <label class="form-check-label" for="competition">Preparazione a Gare</label>
          </div>

          <h5 class="pt-4">Riesci a portare a termine il tuo allenamento senza accusare eccessiva fatica?</h5>
          <div class="form-check pt-3">
            <input class="form-check-input" type="radio" name="fatigue" id="noFatigue" value="noFatigue"
                   formControlName="fatigue">
            <label class="form-check-label" for="noFatigue">Si</label>
          </div>
          <div class="form-check pt-4">
            <input class="form-check-input" type="radio" name="fatigue" id="yesFatigue" value="yesFatigue"
                   formControlName="fatigue">
            <label class="form-check-label" for="yesFatigue">No</label>
          </div>
        </div>

        <!--Aumento Forza-->
        <div *ngIf="primaryObjective === 'Aumento Forza'">
          <h5>All’aumento di quale tipologia di forza sei interessato?</h5>
          <div class="form-check pt-3">
            <input class="form-check-input" type="radio" name="goal" id="explosive" value="explosive"
                   formControlName="goal">
            <label class="form-check-label" for="explosive">Forza esplosiva</label>
          </div>
          <div class="form-check pt-4">
            <input class="form-check-input" type="radio" name="goal" id="maximal" value="maximal"
                   formControlName="goal">
            <label class="form-check-label" for="maximal">Forza massimale</label>
          </div>
          <div class="form-check pt-4">
            <input class="form-check-input" type="radio" name="goal" id="resistance" value="resistance"
                   formControlName="goal">
            <label class="form-check-label" for="resistance">Forza resistente</label>
          </div>
        </div>

        <!--Recupero Muscolare-->
        <div *ngIf="primaryObjective === 'Recupero Muscolare'">
          <h5>Senti spesso dolori muscolari entro 1-3 giorni dall'allenamento?</h5>
          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="muscularPain" id="yesMuscularPain" value="yesMuscularPain"
                   formControlName="muscularPain">
            <label class="form-check-label" for="yesMuscularPain">Si</label>
          </div>
          <div class="form-check py-4">
            <input class="form-check-input" type="radio" name="muscularPain" id="noMuscularPain" value="noMuscularPain"
                   formControlName="muscularPain">
            <label class="form-check-label" for="noMuscularPain">No</label>
          </div>

          <h5>Se sì, con quale intensità, da 1 a 5?</h5>
          <div class="form-group pt-4">
            <select class="form-control" id="painIntensity" formControlName="painIntensity">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>

      </div>

      <div class="pt-4 d-flex flex-row justify-content-between">
        <button
          type="button" class="btn btn-primary px-5"
          (postFinalize)="updateProgressBarValue()"
          awPreviousStep
        >Indietro
        </button>
        <button
          type="button" class="btn btn-primary px-5"
          [disabled]="!wizardForm.get('primaryObjectiveDetails').valid"
          (finalize)="finalizeEnergyCheckboxValue()"
          (postFinalize)="updateProgressBarValue()"
          awNextStep
        >Avanti
        </button>
      </div>
    </aw-wizard-step>

    <!--Tenth Question-->
    <aw-wizard-step stepTitle="Dieta" [navigationSymbol]="{ symbol: '10' }">

      <h3 class="py-2">Quale regime alimentare segui?</h3>

      <div class="form-check py-2">
        <input class="form-check-input" type="radio" name="diet" id="omnivorous" value="omnivorous"
               formControlName="diet">
        <label class="form-check-label" for="omnivorous">Onnivoro</label>
      </div>
      <div class="form-check py-4">
        <input class="form-check-input" type="radio" name="diet" id="vegan" value="vegan"
               formControlName="diet">
        <label class="form-check-label" for="vegan">Vegano</label>
      </div>
      <div class="form-check py-2">
        <input class="form-check-input" type="radio" name="diet" id="vegetarian" value="vegetarian"
               formControlName="diet">
        <label class="form-check-label" for="vegetarian">Vegetariano</label>
      </div>
      <div class="form-check py-4">
        <input class="form-check-input" type="radio" name="diet" id="glutenFree" value="glutenFree"
               formControlName="diet">
        <label class="form-check-label" for="glutenFree">Gluten free</label>
      </div>

      <div class="pt-4 d-flex flex-row justify-content-between">
        <button
          type="button" class="btn btn-primary px-5"
          (postFinalize)="updateProgressBarValue()"
          awPreviousStep
        >Indietro
        </button>
        <button
          type="button" class="btn btn-primary px-5"
          [disabled]="!wizardForm.get('diet').valid"
          (postFinalize)="updateProgressBarValue()"
          awNextStep
        >Avanti
        </button>
      </div>
    </aw-wizard-step>

    <!--Eleventh Question-->
    <aw-wizard-step stepTitle="Allergie e Intolleranze" [navigationSymbol]="{ symbol: '11' }">

      <h3 class="py-2">Hai una di queste allergie o intolleranze?</h3>
      <div class="form-check py-2">
        <input class="form-check-input" type="checkbox" name="allergy" id="none" value="none"
               formControlName="allergy">
        <label class="form-check-label" for="none">Nessuna</label>
      </div>
      <div class="form-check py-2">
        <input class="form-check-input" type="checkbox" name="allergy" id="lactose" value="lactose"
               formControlName="allergy">
        <label class="form-check-label" for="lactose">Lattosio</label>
      </div>
      <div class="form-check py-2">
        <input class="form-check-input" type="checkbox" name="allergy" id="egg" value="egg"
               formControlName="allergy">
        <label class="form-check-label" for="egg">Uova</label>
      </div>
      <div class="form-check py-2">
        <input class="form-check-input" type="checkbox" name="allergy" id="fish" value="fish"
               formControlName="allergy">
        <label class="form-check-label" for="fish">Pesce</label>
      </div>
      <div class="form-check py-2">
        <input class="form-check-input" type="checkbox" name="allergy" id="clam" value="clam"
               formControlName="allergy">
        <label class="form-check-label" for="clam">Molluschi</label>
      </div>
      <div class="form-check py-2">
        <input class="form-check-input" type="checkbox" name="allergy" id="nut" value="nut"
               formControlName="allergy">
        <label class="form-check-label" for="nut">Noci</label>
      </div>
      <div class="form-check py-2">
        <input class="form-check-input" type="checkbox" name="allergy" id="peanut" value="peanut"
               formControlName="allergy">
        <label class="form-check-label" for="peanut">Arachidi</label>
      </div>
      <div class="form-check py-2">
        <input class="form-check-input" type="checkbox" name="allergy" id="soy" value="soy"
               formControlName="allergy">
        <label class="form-check-label" for="soy">Soia</label>
      </div>
      <div class="form-check py-2">
        <input class="form-check-input" type="checkbox" name="allergy" id="gluten" value="gluten"
               formControlName="allergy">
        <label class="form-check-label" for="gluten">Glutine</label>
      </div>
      <div class="form-check py-2">
        <input class="form-check-input" type="checkbox" name="allergy" id="nichel" value="nichel"
               formControlName="allergy">
        <label class="form-check-label" for="nichel">Nichel</label>
      </div>

      <div class="pt-4 d-flex flex-row justify-content-between">
        <button
          type="button" class="btn btn-primary px-5"
          (postFinalize)="updateProgressBarValue()"
          awPreviousStep
        >Indietro
        </button>
        <button
          type="button" class="btn btn-primary px-5"
          [disabled]="!wizardForm.get('allergy').valid"
          (finalize)="finalizeAllergyCheckboxValue()"
          (postFinalize)="updateProgressBarValue()"
          awNextStep
        >Avanti
        </button>
      </div>
    </aw-wizard-step>

    <!--Twelth Question-->
    <aw-wizard-step stepTitle="Problemi di Salute" [navigationSymbol]="{ symbol: '12' }">

      <h3 class="py-2">L'ultima domanda, fondamentale per il calcolo personalizzato della tua formula.</h3>
      <h5 class="pt-4 pb-1">Hai problemi di salute o sei una donna in gravidanza?</h5>
      <div class="form-check py-2">
        <input class="form-check-input" type="checkbox" name="healthProblems" id="noHealthProblems" value="noHealthProblems"
               formControlName="healthProblems">
        <label class="form-check-label" for="noHealthProblems">Nessuno</label>
      </div>
      <div class="form-check py-2">
        <input class="form-check-input" type="checkbox" name="healthProblems" id="heart" value="heart"
               formControlName="healthProblems">
        <label class="form-check-label" for="heart">Problemi Cardiaci</label>
      </div>
      <div class="form-check py-2">
        <input class="form-check-input" type="checkbox" name="healthProblems" id="kidney" value="kidney"
               formControlName="healthProblems">
        <label class="form-check-label" for="kidney">Problemi Renali</label>
      </div>
      <div class="form-check py-2">
        <input class="form-check-input" type="checkbox" name="healthProblems" id="hypertension" value="hypertension"
               formControlName="healthProblems">
        <label class="form-check-label" for="hypertension">Ipertensione</label>
      </div>
      <div class="form-check py-2">
        <input class="form-check-input" type="checkbox" name="healthProblems" id="diabetes" value="diabetes"
               formControlName="healthProblems">
        <label class="form-check-label" for="diabetes">Diabete</label>
      </div>
      <div class="form-check py-2">
        <input class="form-check-input" type="checkbox" name="healthProblems" id="insulinResistance" value="insulinResistance"
               formControlName="healthProblems">
        <label class="form-check-label" for="insulinResistance">Insulino resistenza</label>
      </div>
      <div class="form-check py-2">
        <input class="form-check-input" type="checkbox" name="healthProblems" id="pregnancy" value="pregnancy"
               formControlName="healthProblems">
        <label class="form-check-label" for="pregnancy">Sei in gravidanza</label>
      </div>
      <div class="form-check py-2">
        <input class="form-check-input" type="checkbox" name="healthProblems" id="breastfeeding" value="breastfeeding"
               formControlName="healthProblems">
        <label class="form-check-label" for="breastfeeding">Stai allattando</label>
      </div>

      <div class="pt-4 d-flex flex-row justify-content-between">
        <button
          type="button" class="btn btn-primary px-5"
          (postFinalize)="updateProgressBarValue()"
          awPreviousStep
        >Indietro
        </button>
        <button
          type="button" class="btn btn-primary px-5"
          [disabled]="!wizardForm.get('healthProblems').valid"
          (finalize)="finalizeHealthProblemsCheckboxValue()"
          (postFinalize)="updateProgressBarValue()"
          awNextStep
        >Avanti
        </button>
      </div>
    </aw-wizard-step>

    <!--Thirteenth Question-->
    <aw-wizard-step stepTitle="Uso Dati A Fini Statistici" [navigationSymbol]="{ symbol: '13' }">

      <h3 class="py-2">Piccola domanda. Possiamo usare i tuoi dati a fini statistici? Verranno, ovviamente, resi anonimi</h3>
      <div class="form-check py-3">
        <input class="form-check-input" type="radio" name="dataUsage" id="yesConsent" value="yesConsent"
               formControlName="dataUsage">
        <label class="form-check-label" for="yesConsent">Si</label>
      </div>
      <div class="form-check py-3">
        <input class="form-check-input" type="radio" name="dataUsage" id="noConsent" value="noConsent"
               formControlName="dataUsage">
        <label class="form-check-label" for="noConsent">No</label>
      </div>

      <div class="pt-4 d-flex flex-row justify-content-between">
        <button
          type="button" class="btn btn-primary px-5"
          (postFinalize)="updateProgressBarValue()"
          awPreviousStep
        >Indietro
        </button>
        <button
          type="submit" class="btn btn-primary px-5"
          [disabled]="!wizardForm.get('dataUsage').valid"
          awNextStep
        >Termina
        </button>
      </div>
    </aw-wizard-step>

  </form>
</aw-wizard>

