<aw-wizard [navBarLayout]="'small'" [disableNavigationBar]="true">

  <div class="progress mb-5" style="background-color: #b3cfcf;">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
         [ngStyle]="{'width.%': 0}"
         attr.aria-valuenow="0"
         attr.aria-valuemin="0"
         aria-valuemax="100">0%
    </div>
  </div>

  <form [formGroup]="wizardForm" (ngSubmit)="onSubmit()">
    <!--First Question-->
    <aw-wizard-step stepTitle="Personal Info" [navigationSymbol]="{ symbol: '1' }">
      <div formGroupName="personalInfo">
        <h3 class="py-2">Iniziamo dalle tue informazioni personali</h3>

        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control">
        </div>

        <div class="form-group">
          <label for="eta">Età</label>
          <select class="form-control" id="eta" formControlName="eta">
            <option>18-25</option>
            <option>26-35</option>
            <option>36-45</option>
            <option>46 in sù</option>
          </select>
        </div>

        <div class="form-group">
          <label for="sesso">Sesso</label>
          <select class="form-control" id="sesso" formControlName="sesso">
            <option>Uomo</option>
            <option>Donna</option>
          </select>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
          <small id="emailHelp" class="form-text text-muted">Non condivideremo mai l'email con nessuno.</small>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="privacy" formControlName="privacy">
          <label class="form-check-label" for="privacy">
            Acconsento al trattamento dei miei dati per l'erogazione minima del servizio senza il quale non potrebbe
            essere erogato (
            <a routerLink="/privacy">Informativa</a>
            )
          </label>
        </div>

        <div class="pt-4 d-flex flex-row-reverse">
          <button
            type="button" class="btn btn-primary px-5"
            [disabled]="!wizardForm.get('personalInfo').valid"
            awNextStep
          >Avanti
          </button>
        </div>
      </div>
    </aw-wizard-step>

    <!--Second Question-->
    <aw-wizard-step stepTitle="Categoria Sport" [navigationSymbol]="{ symbol: '2' }">

      <h3 class="py-2">In quale categoria di sportivo ti rivedi di più</h3>

      <div class="form-check py-4">
        <input class="form-check-input" type="radio" name="sportCategory" id="noSport" value="noSport"
               formControlName="sportCategory">
        <label class="form-check-label" for="noSport">
          Non Pratico Sport
        </label>
      </div>
      <div class="form-check py-4">
        <input class="form-check-input" type="radio" name="sportCategory" id="amaSport" value="amaSport"
               formControlName="sportCategory">
        <label class="form-check-label" for="amaSport">
          Sportivo Amatoriale (Non partecipo a competizioni sportive e mi alleno quando mi va)
        </label>
      </div>
      <div class="form-check py-4">
        <input class="form-check-input" type="radio" name="sportCategory" id="agoSport" value="agoSport"
               formControlName="sportCategory">
        <label class="form-check-label" for="agoSport">
          Sportivo Agonista (Mi alleno preparandomi per competizioni sportive ma non è il mio primo lavoro)
        </label>
      </div>
      <div class="form-check py-4">
        <input class="form-check-input" type="radio" name="sportCategory" id="proSport" value="proSport"
               formControlName="sportCategory">
        <label class="form-check-label" for="proSport">
          Sportivo professionista (Pratico sport per lavoro)
        </label>
      </div>

      <div class="pt-4 d-flex flex-row justify-content-between">
        <button
          type="button" class="btn btn-primary px-5"
          awPreviousStep
        >Indietro
        </button>
        <button
          type="button" class="btn btn-primary px-5"
          [disabled]="!wizardForm.get('sportCategory').valid"
          (finalize)="finalizeStep()"
          awNextStep
        >Avanti
        </button>
      </div>
    </aw-wizard-step>

    <!--Second Question: 2.1-->
    <aw-wizard-step stepTitle="regolarità Pratica" [stepId]="'2.1'" [navigationSymbol]="{ symbol: '2.1' }">

      <h3 class="py-2">Con quale regolarità ti alleni?</h3>

      <div class="form-check py-4">
        <input class="form-check-input" type="radio" name="trainingRegularity" id="allenamentoRegolare" value="allenamentoRegolare"
               formControlName="trainingRegularity">
        <label class="form-check-label" for="allenamentoRegolare">
          Mi alleno con regolarità
        </label>
      </div>
      <div class="form-check py-4">
        <input class="form-check-input" type="radio" name="trainingRegularity" id="allenamentoNonRegolare" value="allenamentoNonRegolare"
               formControlName="trainingRegularity">
        <label class="form-check-label" for="allenamentoNonRegolare">
          Mi alleno quando mi va
        </label>
      </div>

      <div class="pt-4 d-flex flex-row justify-content-between">
        <button
          type="button" class="btn btn-primary px-5"
          awPreviousStep
        >Indietro
        </button>
        <button
          type="button" class="btn btn-primary px-5"
          [disabled]="!wizardForm.get('trainingRegularity').valid"
          awNextStep
        >Avanti
        </button>
      </div>
    </aw-wizard-step>

    <!--Third Question-->
    <aw-wizard-step stepTitle="Fisionomia" [navigationSymbol]="{ symbol: '3' }">

      <h3 class="py-2">Parliamo della tua fisionomia</h3>

      <div formGroupName="fisionomy">
        <div class="form-group">

          <label for="name">Peso</label>
          <input
            type="number"
            min="40"
            max="300"
            id="weight"
            formControlName="weight"
            class="form-control">
          <small id="weight" class="form-text text-muted">Fondamentale per la formula.</small>
        </div>
        <div class="form-group">
          <label for="name">Altezza</label>
          <input
            type="number"
            min="80"
            max="250"
            id="height"
            formControlName="height"
            class="form-control">
          <small id="height" class="form-text text-muted">Fondamentale per la dose.</small>
        </div>

        <h4 class="py-3">In quale corporatura ti rivedi?</h4>
        <div class="d-flex">
          <div class="w-50">Sottopeso</div>
          <div class="w-50">Normopeso</div>
          <div class="w-50">Sovrappeso</div>
          <div class="w-50">In Obesità</div>
        </div>

      </div>
      <div class="pt-4 d-flex flex-row justify-content-between">
        <button
          type="button" class="btn btn-primary px-5"
          awPreviousStep
          (finalize)="finalizeStep()"
        >Indietro
        </button>
        <button
          type="button" class="btn btn-primary px-5"
          [disabled]="!wizardForm.get('fisionomy').valid"
          awNextStep
        >Avanti
        </button>
      </div>
    </aw-wizard-step>

    <button class="btn btn-primary">Termina</button>

  </form>
</aw-wizard>

