<br>
<div class="container privacyPage py-4">
  <div class="row">
    <div class="col-12">
      <h1 style="font-variant: small-caps;">PRIVACY POLICY</h1>
      <br>

      <h3 class="color-dark font-weight-bold">Perchè queste informazioni</h3>

      <p>Ai sensi del d.lgs. 196/2003 e del Regolamento (UE) 2016/679 (di seguito “Regolamento”), questa pagina descrive le modalità di trattamento dei dati personali degli utenti che consultano il sito web di Geofarma Srl accessibile per via telematica al seguente indirizzo:</p>
      <address>https://geopharma.it</address>

      <p>Informiamo l’utente che a seguito della consultazione di questo sito possono essere trattati dati relativi a persone identificate o identificabili.</p>
      <p>Le presenti informazioni non riguardano altri siti, pagine o servizi online raggiungibili tramite link ipertestuali eventualmente pubblicati sul sito.</p>

      <br>
      <h5 class="text-dark font-weight-bold">Identità del Titolare</h5>

      <p>Titolare del trattamento è <strong>Geofarma Srl</strong> in persona del suo legale rappresentante p.t., con sede legale in <strong>Mola Di Bari (BA), Corso Italia n. 6, (Email: info@geopharma.eu, PEC: geofarma@legpec.it, Tel.: +39 0804742175).</strong></p>

      <h3 class="color-dark font-weight-bold pt-4">Fonte dei dati e tipologia dei dati raccolti:</h3>
      <ol>
        <li>
          <h4 class="color-dark py-2">Dati comunicati dall'utente</h4>
          <p class="my-1"><strong>Geofarma Srl</strong> raccoglie i dati personali forniti volontariamente dagli utenti al momento:</p>
          <ol type="a">
            <li>dell’utilizzo del form della sezione “Entra nel team”. In tal caso i dati personali richiesti possono includere l’indirizzo email, nome e cognome, città di residenza o domicilio, la descrizione delle competenze professionali e della formazione nonché file fotografici e tutte le informazioni contenute all’interno del curriculum vitae qualora l’utente dovesse allegarlo nella apposita sezione. I dati forniti saranno utilizzati con strumenti informatici e telematici al solo fine di fornire il servizio richiesto e per tale ragione, saranno conservati esclusivamente per il periodo in cui lo stesso sarà attivo.</li>
            <li>dell’invio di un messaggio utilizzando il form predisposto ovvero gli indirizzi di contatto presenti sul sito <address>https://geopharma.it</address></li>
          </ol>
          <p>L’invio facoltativo, esplicito e volontario di messaggi agli indirizzi di contatto nonché la compilazione e l’inoltro dei moduli presenti sul sito, comportano l’acquisizione dei dati di contatto del mittente. I dati richiesti in questo caso possono includere: nome e cognome, città di residenza o domicilio, indirizzo email e numero di telefono. Tali informazioni risultano necessarie a fornire riscontro alla richiesta di contatto. Saranno inoltre oggetto di trattamento anche i dati personali inclusi nelle comunicazioni.</p>
          <p>I dati forniti saranno utilizzati con strumenti informatici e telematici al solo fine di fornire il servizio richiesto e per tale ragione, saranno conservati esclusivamente per il periodo in cui lo stesso sarà attivo.</p>
        </li>

        <li>
          <h4 class="color-dark py-2">Dati di navigazione</h4>
          <p class="my-1"><strong>Geofarma Srl</strong> raccoglie anche dati relativi all’utilizzo del sito Web da parte dell’utente, queste informazioni sono acquisite dai sistemi informatici e le procedure software preposte al funzionamento del portale online, nel corso del loro normale esercizio, inoltre, la trasmissione degli stessi è connessa e connaturata all’utilizzo dei protocolli di comunicazione di Internet.</p>
          <p>In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei computer e dei terminali utilizzati dagli utenti, gli indirizzi in notazione URI/URL (Uniform Resource Identifier/Locator) delle risorse richieste, l’orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server e altri parametri relativi al sistema operativo e all’ambiente informatico dell’utente.</p>
          <p>Tali dati, necessari per la fruizione dei servizi web, vengono anche trattati allo scopo di:</p>
          <ul>
            <li>ottenere informazioni statistiche sull’uso dei servizi (pagine più visitate, numero di visitatori per fascia oraria o giornaliera, aree geografiche di provenienza, ecc.);</li>
            <li>controllare il corretto funzionamento dei servizi offerti.</li>
          </ul>
          <br>
          <p>I dati di navigazione non persistono per più di sette giorni e vengono cancellati immediatamente dopo la loro aggregazione (salve eventuali necessità di accertamento di reati da parte dell’Autorità giudiziaria).</p>
        </li>

        <li>
          <h4 class="color-dark py-2">Cookie e altri sistemi di tracciamento</h4>
          <p>Al fine di rendere i propri servizi il più possibile efficienti e semplici da utilizzare, questo Sito fa uso di cookie. Pertanto, quando si visita il Sito, viene inserita una quantità minima di informazioni nel dispositivo dell’Utente, come piccoli file di testo chiamati “cookie”, che vengono salvati nella directory del browser Web dell’Utente. Esistono diversi tipi di cookie, ma sostanzialmente lo scopo principale di un cookie è quello di far funzionare più efficacemente il Sito e di abilitarne determinate funzionalità.</p>
          <p>I cookie sono utilizzati per migliorare la navigazione globale dell’Utente.</p>
          <p>Per maggiori informazioni sui cookie utilizzati dal presente sito web è possibile visionare la cookie policy al seguente</p><address routerLink="/cookies" style="cursor: pointer">https://geopharma.eu/cookie-policy/</address>

          <br>
          <h6 class="color-dark">Finalità del trattamento</h6>
          <p>A seconda del tipo di trattamento da porre in essere, i dati personali dell’Interessato potranno essere trattati:</p>
          <ol>
            <li>per fornire riscontro a eventuali comunicazioni, richieste di informazioni e/o servizi provenienti dagli utenti mediante l’apposito form o utilizzando il/gli indirizzo/i presenti nella sezione contatti;</li>
            <li>per fornire riscontro a eventuali candidature, provenienti dagli utenti mediante l’apposito form presente nella sezione “Entra nel team” o utilizzando il/gli indirizzo/i presenti nella sezione contatti;</li>
            <li>per nalità di pro lazione (es. analisi e/o previsione automatizzata delle preferenze personali e degli interessi dell’utente);</li>
            <li>i da personali dell’Interessato potranno essere tra a anche per nalità di marke ng e promozione commerciale, con riguardo a servizi/prodo che il itolare o re. ale tra amento pu avvenire, in modo automa zzato, con le seguen modalità: e-mail sms conta o telefonico e pu essere svolto qualora l’Interessato non abbia revocato il suo consenso per l’utilizzo dei dati.</li>
            <li>Infine, i dati saranno utilizzati per gestire e controllare i rischi, prevenire possibili frodi, prevenire e gestire possibili contenziosi, adire le vie legali in caso di necessità.</li>
          </ol>
        </li>
      </ol>

      <h4 class="color-dark py-2">Base giuridica del trattamento</h4>
      <p>In riferimento alle finalità indicate nel precedente paragrafo, la base giuridica delle stesse è, relativamente al punto:</p>
      <ol>
        <li>esecuzione di un contratto di cui l’interessato è parte o esecuzione di misure precontrattuali adottate su richiesta dello stesso;</li>
        <li>esecuzione di misure precontrattuali adottate su richiesta dell’interessato, per quanto attiene ai dati comuni. Attività poste in essere da soggetti che, in conformità alla legge, svolgono, nell’interesse proprio o di terzi,intermediazione, ricerca e selezione del personale ai fini dell’instaurazione del rapporto di lavoro (cfr.aut. gen n. 1/2016) per quanto attiene a particolari categorie di dati (es. dati relativi allo stato di salute)</li>
        <li>il consenso espresso dall’interessato per la specifica finalità;</li>
        <li>la necessità di perseguire il legittimo interesse del titolare del trattamento (in particolare con riguardo alla prevenzione di frodi).</li>
      </ol>

      <h4 class="color-dark py-2">Destinatari dei dati</h4>
      <p>I dati personali trattati dal Titolare non sono diffusi, ovvero non ne viene data conoscenza a soggetti indeterminati, in nessuna possibile forma, inclusa quella della loro messa a disposizione o semplice consultazione.</p>
      <p>Possono, invece, essere comunicati ai lavoratori che operano alle dipendenze del Titolare, o a soggetti autorizzati al trattamento in quanto operanti sotto l’autorità del Titolare stesso. Il trattamento da parte di tali soggetti avverrà in considerazione dei ruoli e delle mansioni lavorative espletate, tenuto conto delle rispettive competenze e in conformità alle istruzioni ad essi impartite dal Titolare.</p>
      <p>A tale proposito, <strong>Geofarma Srl</strong> ha incaricato dei fornitori di servizi terzi in relazione al funzionamento del sito Web, quali fornitori di servizi di hosting, fornitori di servizi relativi a siti Web, fornitori di servizi di manutenzione IT, nonché</p>
      <p>fornitori di servizi che consentono l’integrazione nel sito Web di altre funzioni che l’utente può usare a sua discrezione.</p>
      <p>A tali fornitori di servizi, designati in qualità di Responsabili esterni del trattamento, vengono forniti solo i dati personali necessari per erogare i corrispettivi servizi e non è loro concesso di usare o divulgare i dati personali degli interessati per altri scopi, senza previa autorizzazione dell’interessato.</p>
      <p>I dati, possono inoltre essere comunicati, per quanto strettamente necessario, a soggetti che collaborano con il Titolare per fornire riscontro a eventuali domande e/o richieste di clienti (anche potenziali) o per prestare servizi ad esse inerenti.</p>
      <p>Infine, i dati potranno essere comunicati ai soggetti legittimati ad accedervi in forza di disposizioni di legge, regolamenti, normative comunitarie.</p>

      <h4 class="color-dark py-2">Trasferimento dei dati</h4>
      <p>In nessun caso il Titolare del trattamento trasferisce i dati personali in paesi terzi o a organizzazioni internazionali. Tuttavia, si riserva la possibilità di utilizzare servizi in cloud; nel qual caso, i fornitori dei servizi saranno selezionati tra coloro che forniscono garanzie adeguate, così come previsto dall’art. 46 GDPR 679/16.</p>

      <h4 class="color-dark py-2">Conservazione dei dati</h4>
      <p>Il Titolare del trattamento conserva e tratta i dati personali per il tempo necessario ad adempiere alle finalità indicate. Successivamente, i dati personali saranno conservati e non ulteriormente trattati, per il tempo stabilito dalle vigenti disposizioni di legge.</p>
      <p>In particolare, saranno conservati per tutta la durata della sua iscrizione anagrafica e comunque non oltre un periodo massimo di 12 (dodici) mesi di sua inattività, ovvero qualora, entro tale termine, non risultino associati dei Servizi.</p>
      <p>Nel caso di dati forniti al Titolare per le finalità di profilazione, questi saranno conservati per 12 mesi, salvo sempre revoca del consenso prestato.</p>
      <p>Occorre inoltre aggiungere che, nel caso in cui un utente fornisca al Titolare dati personali non richiesti o non necessari al fine dell’esecuzione della prestazione richiesta ovvero all’erogazione di un servizio a essa strettamente connesso, <strong>Geofarma Srl</strong> non potrà essere considerata titolare di questi dati e provvederà alla loro cancellazione nel più breve tempo possibile.</p>

      <h4 class="color-dark py-2">Diritti dell’interessato</h4>
      <p>In relazione ai dati oggetto del trattamento di cui alla presente informativa all’interessato è riconosciuto in qualsiasi momento il diritto di:</p>
      <ul>
        <li>chiedere al Titolare l’accesso ai Suoi dati personali ed alle informazioni relative agli stessi (art. 15 del GDPR); la rettifica dei dati inesatti o l’integrazione di quelli incompleti (art. 16 del GDPR); la cancellazione dei dati personali che La riguardano (al verificarsi di una delle condizioni indicate nell’art. 17, par. 1 del GDPR e nel rispetto delle eccezioni previste nel paragrafo 3 dello stesso articolo); la limitazione del trattamento dei Suoi dati personali (al ricorrere di una delle ipotesi indicate nell’art. 18, par. 1 del GDPR);</li>
        <li>richiedere e ottenere dal Titolare – nelle ipotesi in cui la base giuridica del trattamento sia il consenso e lo stesso sia effettuato con mezzi automatizzati – i Suoi dati personali in un formato strutturato e leggibile da dispositivo automatico, anche al fine di comunicare tali dati a un altro titolare del trattamento (c.d. diritto alla portabilità dei dati personali – art. 20 del GDPR);</li>
        <li>opporsi in qualsiasi momento al trattamento dei Suoi dati personali al ricorrere di situazioni particolari che La riguardano (art. 21 del GDPR);</li>
        <li>revocare il consenso in qualsiasi momento, limitatamente alle ipotesi in cui il trattamento sia basato sul Suo consenso per una o più specifiche finalità. Il trattamento basato sul consenso ed effettuato antecedentemente alla revoca dello stesso conserva, comunque, la sua liceità (art. 7, par. 3, del GDPR);</li>
      </ul>
      <div>L’apposita istanza è presentata contattando il Titolare tramite e-mail all’indirizzo: <address class="d-inline">info@geopharma.eu</address>, pec: <address class="d-inline">geofarma@legpec.it</address> o lettera raccomandata a/r all’indirizzo: <strong><address class="d-inline text-dark">Mola Di Bari (BA), Corso Italia n. 6</address></strong>. L’interessato, qualora ritenga che il trattamento dei Suoi dati avvenga in violazione di quanto previsto dal Regolamento, può proporre reclamo a un’autorità di controllo (Autorità Garante per la protezione dei dati personali – <address class="d-inline">www.garanteprivacy.it</address>), come previsto dall’art. 77 del GDPR, o adire le opportune sedi giudiziarie (art. 79 del GDPR).</div>

      <h4 class="color-dark py-2">Rifiuto al conferimento dei dati</h4>
      <p>Il rifiuto al conferimento dei dati necessari alla registrazione sul sito impedirà che l’operazione si concluda con successo. Gli ulteriori dati indicati al punto a) del paragrafo “Fonte dei dati e tipologia di dati raccolti” che risultino non obbligatori ai fini della registrazione vengono forniti su base volontaria tuttavia se l’interessato dovesse decidere di non fornire i dati richiesti, <strong>Geofarma Srl</strong> potrebbe non essere in grado di fornire determinati servizi. I dati indicati ai punti a); b); e c) vengono forniti volontariamente dall’interessato e qualora decidesse di non fornire i dati richiesti, le funzionalità e/o i servizi offerti tramite il sito potrebbero essere compromessi nella loro utilizzabilità.</p>

      <h4 class="color-dark py-2">Processi decisionali automatizzati</h4>
      <p>Il Titolare non effettua trattamenti che consistono in processi decisionali automatizzati sui dati delle persone fisiche salvo i trattamenti relativi alle attività di profilazione.</p>
    </div>
  </div>
</div>
<br>
