<div class="text-center">
  <h1 class="display-4 font-weight-bold color-dark">BENVENUTO NEL FUTURO DELL’INTEGRAZIONE</h1>
  <br>
  <h2 class="color-dark">IL TUO INTEGRATORE PERSONALIZZATO</h2>
  <br>
  <h3 class="color-brown">La nostra intelligenza artificiale rivelerà cosa ti serve per raggiungere la forma
    migliore.</h3>
  <br>
  <img src="assets/images/pack_bustine.png" alt="pack bustine" style="width: 220px;">
  <h5>Rispondi a poche e semplici domande e scopri la tua integrazione personalizzata</h5>
  <br>
  <button class="btn btn-lg btn-primary font-weight-bold" routerLink="./wizard">INIZIA IL TEST</button>
</div>
