.font-roboto {
  font-family: 'Roboto', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 0 !important;
}

body {
  background-color: #E6F4F1;
}

.bg-dark {
  background-image: linear-gradient(#354A54,#354A54 60%,#354A54);
}

.color-blue {
  color: #2fa4e7;
}

.color-dark {
  color: #354A54;
}

.color-green {
  color: #006D60;
}

.color-brown {
  color: #954B00;
}

.progress-bar[aria-valuenow="10"] {
  background-color: #354A54;
}
