<div class="container-fluid bg-primary py-5" style="background-image: linear-gradient(-90deg,#006D60 0%, #ffcb1a);padding-bottom: 3.1% !important;">
  <footer class="container bg-pr ">
    <div class="row">
      <div class="col-12 col-md text-white">
        <img src="assets/images/logo.png" style="width: 205px; cursor:pointer;" alt="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/">
        <p class="d-block mb-3 font-roboto small">Geopharma © 2020 | P.IVA 05687680727</p>
      </div>
      <div class="col-6 col-md">
        <ul class="list-unstyled font-weight-bold text-uppercase">
          <li><a class="text-white">Come Funziona</a></li>
          <li><a class="text-white">Chi Siamo</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-white">Team</a></li>
          <li><a target="_blank" href="https://www.google.com/maps?ll=41.064854,17.07989&z=16&t=m&hl=it-IT&gl=US&mapclient=embed&daddr=Geofarma+S.r.l.+Corso+Italia,+6+70042+Mola+di+Bari+BA@41.0648536,17.0798904" class="text-white">Dove Trovarci</a></li>
          <li><a class="text-white" routerLink="/privacy">Privacy</a></li>
          <li><a class="text-white" routerLink="/cookies">Cookies</a></li>
        </ul>
      </div>
    </div>
  </footer>

</div>
