input.ng-invalid.ng-dirty, select.ng-invalid.ng-dirty {
  border: 1px solid red;
}

input.ng-valid.ng-dirty, select.ng-valid.ng-dirty {
  border: 1px solid green;
}

label {
  font-weight: 600;
}

.min-vh-45 {
  min-height: 45vh !important;
}
