<div id="main-strip" class="container-fluid">
  <div class="row">
    <div class="col-10 mx-auto text-center">
      <h1 class="display-4 font-weight-bolder font-roboto"><span><strong style="color: #354A54;">IL TUO INTEGRATORE PERSONALIZZATO</strong></span></h1>
      <h3 class="my-4" style="font-size: 31px;color: #006D60;">La nostra intelligenza artificiale rivelerà cosa ti serve per raggiungere la forma migliore.</h3>
      <h4 class="my-4" style="font-size: 28px; color: #006D60;">Rispondi a poche e semplici domande e scopri la tua integrazione personalizzata.</h4>
      <button style="background-image: linear-gradient(#354A54,#354A54 60%,#354A54);" class="btn btn-primary btn-lg font-weight-bold" routerLinkActive="active" routerLink="/test">VAI AL TEST</button>
    </div>
  </div>
</div>

<section class="container-fluid py-5">
  <div class="row pb-3">
    <div class="col-12 col-md-6" style="background-image: url('http://via.placeholder.com/1300x500?text=Placeholder+Image'); background-position:center; background-size: cover; height: 400px;">
    </div>
    <div class="col-12 col-md-6" style="background-color: #E6F4F1;">
      <div style="padding: 2% 10%;">
        <h3 class="text-dark mt-1">Età, peso, altezza, abitudini e molto altro.</h3>
        <h1 class="display-4 text-dark font-weight-bold pb-5">OGNI FISICO E' UNICO</h1>
        <h2 class="text-dark pb-5">Effettua il test per scoprire la tua integrazione personalizzata</h2>
        <button class="btn btn-outline-dark font-weight-bold" routerLink="/test">INIZIA IL TEST</button>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid py-5" style="background-color: #006D60;">
  <div class="row mx-auto justify-content-center py-5">
    <div class="col-12 py-3">
      <h1 class="display-3 text-white font-weight-bold text-center py-3">COME FUNZIONA, COSA OTTIENI</h1>
    </div>
    <div class="col-lg-3 col-md-4 text-center my-3">
      <div>
        <h1 class="text-white">1</h1>
        <h5 class="text-white">EFFETTUA IL TEST E SCOPRI LA TUA INTEGRAZIONE PERSONALIZZATA</h5>
      </div>
      <img src="/assets/images/phone.png" style="width: 80px;">
    </div>
    <div class="col-lg-3 col-md-4 text-center my-3">
      <h1 class="text-white">2</h1>
      <h5 class="text-white">ORDINA IL TUO KIT DI INTEGRATORI PERSONALIZZATO</h5>
      <img src="/assets/images/pack.png" style="width: 120px;">
    </div>
    <div class="col-lg-3 col-md-4 text-center my-3">
      <h1 class="text-white">3</h1>
      <h5 class="text-white">INTEGRATI CON LA FORMULA PERFETTA PER TE</h5>
      <img src="/assets/images/pack_bustine2.png" style="width: 120px;">
    </div>
  </div>
</section>
